body {
background-image: url(https://picsum.photos/id/306/1000/1000);
background-repeat: no-repeat;
background-position: center; 
background-attachment: fixed;
background-size: cover;
margin: 0px;
} 

#header, .nav a, #hero, #cta{
    color:white
}

#header {
    background-color: #13111C;
    height: 60px;
    padding:10px
}

.logo {
    float:left;
} 

.nav {
    float:right;
}

a {
    text-decoration: none;
} 

a:hover {
    text-decoration: underline;
}

#hero {
    font-size: 22px;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    
} 
#hero h1 {
    font-size: 80px;
}

#cta {
    background-color: #E7A626;
    float: right;
}

#cta:hover {
    background-color: white;
    color: #E7A626
}

.button {
    display: block;
    width: fit-content;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
}

#services {
    background-color:#fff1d4;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20vh 40px 20vh 40px;
}

#testimonials {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20vh 40px 20vh 40px;
} 

.quote::before, .quote::after {
    content:"\"";
    font-size:30px;
    font-weight: bolder;
}

.attribution::before {
    content: "-";
}

.card {
    background-color: white;
    color:black;
    width:20%;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    box-shadow: 5px 5px 20px #111a1c;
} 
