body {
background-image: url(https://picsum.photos/id/306/1000/1000);
background-repeat: no-repeat;
background-position: center; 
background-attachment: fixed;
background-size: cover;
} 
#header {
    background-color: #13111C;
    color: white;
    height: 60px;
}
.nav a {
    color:white;
    text-decoration: none;
} 
#hero {
    color: white;
    font-size: 22px;
    
} 
#hero h1 {
    font-size: 80px;
}

#cta {
    
}